@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --background: oklch(0.951 0.015 278);
  --card: oklch(0.951 0.015 278);
  --popover: oklch(0.951 0.015 278);
  --sidebar: oklch(0.951 0.015 278);
  --foreground: oklch(0.213 0 0);
  --card-foreground: oklch(0.213 0 0);
  --popover-foreground: oklch(0.213 0 0);
  --sidebar-foreground: oklch(0.213 0 0);
  --primary: oklch(0.557 0.19 269);
  --sidebar-primary: oklch(0.557 0.19 269);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.866 0.024 275);
  --accent: oklch(0.866 0.024 275);
  --sidebar-accent: oklch(0.866 0.024 275);
  --secondary-foreground: oklch(0.218 0 0);
  --accent-foreground: oklch(0.218 0 0);
  --sidebar-accent-foreground: oklch(0.218 0 0);
  --muted: oklch(0.89 0.014 277);
  --muted-foreground: oklch(0.55 0.017 274);
  --destructive: oklch(0.608 0.23 28);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.785 0.051 275);
  --sidebar-border: oklch(0.785 0.051 275);
  --ring: oklch(0.715 0.098 273);
  --sidebar-ring: oklch(0.715 0.098 273);
  --input: oklch(0.79 0.045 274);
  --chart-1: oklch(0.557 0.19 269);
  --chart-2: oklch(0.556 0.18 265);
  --chart-3: oklch(0.461 0.228 272);
  --chart-4: oklch(0.562 0.147 255);
  --chart-5: oklch(0.464 0.175 268);
  --radius: 0.75rem;
}

.dark {
  --background: oklch(0.187 0.008 274);
  --card: oklch(0.187 0.008 274);
  --popover: oklch(0.187 0.008 274);
  --sidebar: oklch(17.218% 0.00706 258.414);
  --foreground: oklch(0.961 0 0);
  --card-foreground: oklch(0.961 0 0);
  --popover-foreground: oklch(0.961 0 0);
  --sidebar-foreground: oklch(0.961 0 0);
  --primary: oklch(0.477 0.222 266);
  --sidebar-primary: oklch(0.477 0.222 266);
  --primary-foreground: oklch(0.961 0 0);
  --sidebar-primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.199 0.025 273);
  --accent: oklch(0.199 0.025 273);
  --sidebar-accent: oklch(0.199 0.025 273);
  --secondary-foreground: oklch(0.961 0 0);
  --accent-foreground: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.961 0 0);
  --muted: oklch(0.261 0.026 278);
  --muted-foreground: oklch(0.668 0.019 276);
  --destructive: oklch(0.599 0.236 28);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.254 0.057 272);
  --sidebar-border: oklch(0.254 0.057 272);
  --ring: oklch(0.28 0.112 267);
  --sidebar-ring: oklch(0.28 0.112 267);
  --input: oklch(0.257 0.052 273);
  --chart-1: oklch(0.477 0.222 266);
  --chart-2: oklch(0.529 0.193 264);
  --chart-3: oklch(0.491 0.215 274);
  --chart-4: oklch(0.636 0.125 255);
  --chart-5: oklch(0.602 0.142 271);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
